@tailwind base;
@tailwind components;
@tailwind utilities;

html body[data-scroll-locked] {
  --removed-body-scroll-bar-size: 0 !important;
  overflow: visible !important;
  overflow-y: scroll !important;
  margin-right: 0 !important;
}

@layer base {
  * {
    @apply font-medium;
  }

  a {
    @apply text-brand font-medium border-b-2 border-transparent no-underline duration-200;
  }

  a:hover {
    @apply text-brand/80 border-brand/80;
  }
}
